# Load Dataset (NYC TLC Trip Record Data)

[**Data Dictionary**](https://www1.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf)

In [1]:
import pandas as pd

In [2]:
taxi_trip_df = pd.read_csv("yellow_tripdata_2021-01.csv", nrows=100)
taxi_trip_df.shape

(100, 18)

In [3]:
taxi_trip_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [4]:
taxi_trip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   tpep_pickup_datetime   100 non-null    object
 2   tpep_dropoff_datetime  100 non-null    object
 3   passenger_count        100 non-null    int64
 4   trip_distance          100 non-null    float64
 5   RatecodeID             100 non-null    int64
 6   store_and_fwd_flag     100 non-null    object
 7   PULocationID           100 non-null    int64
 8   DOLocationID           100 non-null    int64
 9   payment_type           100 non-null    int64
 10  fare_amount            100 non-null    float64
 11  extra                  100 non-null    float64
 12  mta_tax                100 non-null    float64
 13  tip_amount             100 non-null    float64
 14  tolls_amount           100 non-null    float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  congestion_surcharge   100 non-null    float64
dtypes: float64(9), int64(6), object(3)
memory usage: 14.2+ KB

In [5]:
taxi_trip_df.tpep_pickup_datetime = pd.to_datetime(taxi_trip_df.tpep_pickup_datetime)
taxi_trip_df.tpep_dropoff_datetime = pd.to_datetime(taxi_trip_df.tpep_dropoff_datetime)

## Generate Schema from dataframe

In [2]:
from sqlalchemy import create_engine

In [3]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")
engine.connect()

In [8]:
data_schema = pd.io.sql.get_schema(taxi_trip_df, "yellow_taxi_data", con=engine)
print(data_schema)

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [9]:
# Read data in chunks of size 100_000 and returns an iterator
taxi_trip_df_iter = pd.read_csv("yellow_tripdata_2021-01.csv", iterator=True, chunksize=100_000)
taxi_trip_df_iter

In [10]:
df = next(taxi_trip_df_iter)
df.shape

(100000, 18)

### Parse date colums to Datetime

In [11]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

### Get table columns

In [12]:
df.head(0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

### Create table yellow_taxi_data and if exists drop it and create new one

In [13]:
### Create table yellow_taxi_data and if exists drop it and create new one
df.head(0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

### Insert Data into table and append to it if exists

In [14]:
### Insert Data into table and append to it if exists
%time df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

CPU times: user 20.1 s, sys: 4.29 s, total: 24.4 s
Wall time: 4min 42s

### Inserting the rest of the data using loop

In [15]:
### Inserting the rest of the data using loop

from time import time

try:
    while True:
        t_start = time()
        
        df = next(taxi_trip_df_iter)
        
        df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
        df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
        
        df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")
        
        t_end = time()
        
        print(f"Inserted another chunk of size {len(df)}: took {t_end - t_start:.3f} seconds")
except Exception as e:
    print(str(e))
    print("Finished inserting data")

Inserted another chunk of size 100000: took 364.166 seconds
Inserted another chunk of size 100000: took 350.480 seconds
Inserted another chunk of size 100000: took 322.780 seconds
Inserted another chunk of size 100000: took 301.735 seconds
Inserted another chunk of size 100000: took 304.642 seconds
Inserted another chunk of size 100000: took 301.088 seconds
Inserted another chunk of size 100000: took 328.359 seconds
Inserted another chunk of size 100000: took 382.833 seconds
Inserted another chunk of size 100000: took 321.687 seconds
Inserted another chunk of size 100000: took 377.666 seconds
Inserted another chunk of size 100000: took 305.647 seconds

/Users/patrickwalukagga/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3145: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Inserted another chunk of size 100000: took 372.601 seconds
Inserted another chunk of size 69765: took 210.250 seconds

Finished inserting data

## Adding the Zones table

In [4]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-04-11 08:02:51--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.99.93
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.99.93|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  --.-KB/s    in 0s

2022-04-11 08:02:52 (86.4 MB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [5]:
df_zones = pd.read_csv("taxi+_zone_lookup.csv")

In [6]:
df_zones.shape

(265, 4)

In [7]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [8]:
%time df_zones.to_sql(name="zones", con=engine, if_exists="replace")

CPU times: user 24.8 ms, sys: 10.9 ms, total: 35.7 ms
Wall time: 719 ms