In [1]:
import pyspark

In [2]:
pyspark.__file__

'/usr/local/Cellar/apache-spark/3.2.1/libexec/python/pyspark/__init__.py'

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [5]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-06-14 10:07:19--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.38.240
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.38.240|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  39.3KB/s    in 0.3s

2022-06-14 10:07:21 (39.3 KB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [6]:
!head taxi+_zone_lookup.csv

In [7]:
df = spark.read \
    .option("header", "true") \
    .csv('taxi+_zone_lookup.csv')

In [8]:
df.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [9]:
df.write.parquet('zones')

In [10]:
!ls -lh

total 312
-rw-r--r--  1 patrickwalukagga  staff   7.7K Jun 14 08:52 03_test.ipynb
-rw-r--r--  1 patrickwalukagga  staff    16K Jun 14 10:06 04_pyspark.ipynb
-rw-r--r--  1 patrickwalukagga  staff    32K Jun 14 08:52 05_taxi_schema.ipynb
-rw-r--r--  1 patrickwalukagga  staff   8.6K Jun 14 08:52 06_spark_sql.ipynb
-rw-r--r--  1 patrickwalukagga  staff   2.5K Jun 14 08:52 06_spark_sql.py
-rw-r--r--  1 patrickwalukagga  staff   2.6K Jun 14 08:52 06_spark_sql_big_query.py
-rw-r--r--  1 patrickwalukagga  staff   7.5K Jun 14 08:52 07_groupby_join.ipynb
-rw-r--r--  1 patrickwalukagga  staff    11K Jun 14 08:52 08_rdds.ipynb
-rw-r--r--  1 patrickwalukagga  staff   4.3K Jun 14 08:52 09_spark_gcs.ipynb
-rw-r--r--  1 patrickwalukagga  staff   2.9K Jun 14 08:52 cloud.md
-rwxr-xr-x  1 patrickwalukagga  staff   559B Jun 14 08:52 download_data.sh
-rw-r--r--  1 patrickwalukagga  staff    16K Jun 14 08:52 homework.ipynb
-rw-r--r--  1 patrickwalukagga  staff    12K Aug 17  2016 taxi+_zone_lookup.csv
drwxr-xr-x  6 patrickwalukagga  staff   192B Jun 14 10:08 zones

In [11]:
!ls -lh zones/

total 16
-rw-r--r--  1 patrickwalukagga  staff     0B Jun 14 10:08 _SUCCESS
-rw-r--r--  1 patrickwalukagga  staff   5.8K Jun 14 10:08 part-00000-15d778dd-061d-4128-abf1-ed8683e93e30-c000.snappy.parquet