### 1. Question. Count records
How many taxi trips were there on January 15?

Consider only trips that started on January 15.

In [ ]:
%%sql

SELECT COUNT(*)
FROM yellow_taxi_data_parquet_2021
WHERE TO_CHAR(tpep_pickup_datetime :: DATE, 'yyyy-mm-dd') = '2021-01-15';

In [ ]:
%%sql

SELECT COUNT(*)
FROM yellow_taxi_data_parquet_2021
WHERE CAST(tpep_pickup_datetime AS DATE) = '2021-01-15';

## 2. Largest tip for each day
Find the largest tip for each day. On which day it was the largest tip in January?

Use the pick up time for your calculations.

(note: it's not a typo, it's "tip", not "trip")

In [ ]:
%%sql

SELECT TO_CHAR(tpep_pickup_datetime :: DATE, 'yyyy-mm-dd') AS pickup_date,
       MAX(tip_amount) AS largest_tip_per_day
FROM yellow_taxi_data_parquet_2021
GROUP BY 1
ORDER BY 2 DESC
LIMIT 20;

In [ ]:
%%sql

SELECT CAST(tpep_pickup_datetime AS DATE) AS pickup_date,
       MAX(tip_amount) AS largest_tip_per_day
FROM yellow_taxi_data_parquet_2021
GROUP BY 1
ORDER BY 2 DESC
LIMIT 20;

### 3. Most popular destination
What was the most popular destination for passengers picked up in central park on January 14?

Use the pick up time for your calculations.

Enter the zone name (not id). If the zone name is unknown (missing), write "Unknown"

In [ ]:
%%sql

SELECT tpep_pickup_datetime AS pickup_time,
       "PULocationID" AS pickup_id,
       "DOLocationID" AS dropoff_id,
       "Borough",
       "Zone",
       service_zone
FROM yellow_taxi_data_parquet_2021 yt
JOIN zones z
ON yt."PULocationID" = z."LocationID"
WHERE TO_CHAR(tpep_pickup_datetime :: DATE, 'yyyy-mm-dd') = '2021-01-14'
      AND z."Zone" = 'Central Park'

### 4. Most expensive locations
What's the pickup-dropoff pair with the largest average price for a ride (calculated based on total_amount)?

Enter two zone names separated by a slash

For example:

"Jamaica Bay / Clinton East"

If any of the zone names are unknown (missing), write "Unknown". For example, "Unknown / Clinton East".

In [ ]:
%%sql

SELECT
	CONCAT(zpu."Zone", '/', zdo."Zone") AS "pickup_dropoff_pair",
    AVG(total_amount)
FROM
	yellow_taxi_trips t
JOIN zones zpu ON t."PULocationID" = zpu."LocationID"
JOIN zones zdo ON t."DOLocationID" = zdo."LocationID"
GROUP BY 1
ORDER BY 2 DESC;